body {
	font-family: sans-serif;
	font-size: 1rem;
}

.purple {
	color: #55225D;
}
.pink {
	color: #CB007A;
	
}
.blue {
	color: #141760;
	
}
.teal {
	color: #0076A3;
}
.orange {
	color: #C34306;
}
.lightPurple {
	color: #83034F;
}
.grey {
	color: #eaeaea;
}