body {
  font-size: 30px;
  font-family: 'Helvetoca', sans-serif;
  padding: 0;
  margin: 0;
}

input,
button {
  font-size: inherit;
}

button {
  border: 1px solid black;
  background-color: lightblue;
  cursor: pointer;
}

.multi-fieldsets {
  position: relative;
  width: 1000000px;
  margin-left: 0vw;
  transition: margin-left 200ms linear;
}



.fieldset,
fieldset {
  float: left;
  width: 100vw;
  height: 100vh;
  border-width: 0;
  text-align: center;
  padding: 100px 0 0 0; margin: 0;
}

.controls {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  background-color: black;
}

.controls button {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: .8em;
  padding: .5em;
}

.controls #previous {
  float: left;
}

.controls #next {
  float: right;
}

legend {
  display: block;
  position: relative;
}

.radio-options {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.response-scale {
  padding: 1em 0;
  display: table;
  margin: 0 auto;
}

.response-scale .option {
  width: 180px;
  display: table-cell;
}

.response-scale .input {
  display: block;
  text-align: center;
}

.response-scale label {
  display: block;
  text-align: center;
}


.purple {
	color: #55225D;
}
.pink {
	color: #CB007A;

}
.blue {
	color: #141760;

}
.teal {
	color: #0076A3;
}
.orange {
	color: #C34306;
}
.lightPurple {
	color: #83034F;
}
.grey {
	color: #eaeaea;
}

